:root {
    --default-size: 2rem;
    --white: white;
    --gray: #f2f2f2;
    --blue: rgb(0, 117, 235);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
}

.display-inline {
    display: inline-block;
}

.flex-container {
    display: flex;
}

.flex-container__col {
    flex: 1;
}

.flex-container__col--doubled {
    flex-grow: 2;
}

.flex-container--centered {
    justify-content: center;
    align-items: center;
}

.flex-container--vertical {
    flex-direction: column;
}







.bottom-area {
    position: absolute;
    top: 90vh;
    width: 100%;
}

@media (max-width: 320px) {
    :root {
        --default-size: 1rem;
    }
}
