:root {
    --default-size: 3rem;
    --white: white;
    --gray: #f2f2f2;
    --blue: rgb(0, 117, 235);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

.display-inline {
    display: inline-block;
}

.flex-container {
    display: flex;;
}

.flex-container--centered {
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.flex-container--vertical {
    flex-direction: column;
}

.wallet {
    background-color: var(--white);
    height: 50vh;
}

.wallet__meta {
    color: gray;
}

.wallet__meta--left {
    align-self: start;
}

.wallet--bottom {
    background-color: var(--gray);
}

.wallet__content {
}

.currencies__dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    font-size: var(--default-size);
    padding-right: calc(var(--default-size) / 2);
}

.currencies__dropdown::after {
    content: ">";
}

.currencies__dropdown:focus, .amount__input:focus {
    outline: none;
}

.currencies__dropdown::-ms-expand {
    display: none;
}

.currencies__arrow-down {
    width: calc(var(--default-size) / 2);
    height: calc(var(--default-size) / 2);
    margin: calc(var(--default-size) / 4);
    right: calc(var(--default-size) / 2);
    top: calc(var(--default-size) / 6);
    position: relative;
}

.amount__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    font-size: var(--default-size);
    text-align: right;
}

.exchange-rate {
    background-color: white;
    padding: 8px 30px;
    color: var(--blue);
}

.exchange-rate--gray-border {
    border: 2px solid var(--gray);
    border-radius: 25px;
}

.swap {
    background-color: white;
    padding: 5px 9px;
    color: var(--blue);
}

.swap:hover {
    cursor: pointer;
}

.swap--gray-border {
    border: 2px solid var(--gray);
    border-radius: 40px;
}

.swap-image {
    width: 33px;
    height: 33px;
    color: var(--blue);
    fill: var(--blue);
}

.middle-area {
    position: absolute;
    height: 2rem;
    width: 100%;
    top: 48vh;
}

.exchange-button {
    background-color: #f02bab;
    border-radius: 31px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 1rem;
    padding: 1rem 2rem;
    text-decoration: none;
    border: none;
    text-transform: uppercase;
    letter-spacing: 3px;

}

.exchange-button:hover {
    background-color: #f069dc;
}

.exchange-button:focus {
    outline: none;
}

.exchange-button:active {
    position: relative;
    top: 1px;
}

